@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'Nunito', sans-serif;
}

.navigate a {
    color: hsl(250, 50%, 50%);
}
.navigate a:hover {
    color: hsl(250, 80%, 25%);
    text-decoration: underline;
}

.container {
    min-height: 95vh;
}

#loader svg {
  width: 70px;
  height: 70px;
}
